In [1]:
import pandas as pd
df1= pd.read_excel('comments.xlsx',index_col=0)
df2= pd.read_excel('followers.xlsx',index_col=0)
df3= pd.read_excel('likes.xlsx',index_col=0)
df1

                Username                    Comment
0              jewelrym8            @mahdi.tymoory9
1              jewelrym8            @mashhad_tahvie
2              jewelrym8         @parde.saraye.nice
3              jewelrym8     @pars_maham_saze_l_s_f
4              jewelrym8             @pars.sima2015
..                   ...                        ...
337     mashaqelkhanegii              @baneh.poshak
338     mashaqelkhanegii          @baneh_clothing20
339     mashaqelkhanegii          @cosmetic_younesi
340     mashaqelkhanegii     @lavazem.khanegi.omran
341  instamarketing_team  جوایز تو عکس نوشته شده ❤️

[342 rows x 2 columns]

In [25]:
def excel_creator(l):
    
    if l == ['mention']:
        df=df1.groupby(['Username']).agg(tuple).applymap(list).reset_index()
        df['Score']=len(df.Username)*[1]
        df.to_excel(r'E:/barname_nevisi/python/pybootcamp/mian_term/files/final.xlsx')
        return df
        
    elif l == ['comment']:
        df=df1.groupby(['Username']).agg(tuple).applymap(list).reset_index()
        c =[]
        i = 0
        while i < len(df.Comment):
            s=''
            for tag in df.Comment[i] :
                s += tag
            c.append((s.count('@')//5)+1)
            i += 1
        df['Score']=c
        df
        df.to_excel(r'E:/barname_nevisi/python/pybootcamp/mian_term/files/final.xlsx')
        return df
    elif l == ['like']:
        df = df3
        df['Score']=len(df.Username)*[1]
        df.to_excel(r'E:/barname_nevisi/python/pybootcamp/mian_term/files/final.xlsx')
        return df
    elif l == ['follow']:
        df = df2
        df['Score']=len(df.Username)*[1]
        df.to_excel(r'E:/barname_nevisi/python/pybootcamp/mian_term/files/final.xlsx')
        return df
    elif l == ['comment', 'like']:
        df=df1.groupby(['Username']).agg(tuple).applymap(list).reset_index()
        d={user:list(list(df.Username) + list(df3.Username)).count(user) for user in list(list(df.Username) + list(df3.Username))}
        users = d.keys()
        score = d.values()
        df = pd.DataFrame(zip(users,score),columns =['Username','Score'])
        df.to_excel(r'E:/barname_nevisi/python/pybootcamp/mian_term/files/final.xlsx')
        return df
    elif l == ['comment', 'follow']:
        df=df1.groupby(['Username']).agg(tuple).applymap(list).reset_index()
        d={user:list(list(df.Username) + list(df2.Username)).count(user) for user in list(list(df.Username) + list(df2.Username))}
        users = d.keys()
        score = d.values()
        df = pd.DataFrame(zip(users,score),columns =['Username','Score'])
        df.to_excel(r'E:/barname_nevisi/python/pybootcamp/mian_term/files/final.xlsx')
        print(df)
        return df
    elif l == ['like', 'follow']:
        l = list(df2.Username) + list(df3.Username)
        d={user:list(l).count(user) for user in list(l)}
        users = d.keys()
        score = d.values()
        df = pd.DataFrame(zip(users,score),columns =['Username','Score'])
        df.to_excel(r'E:/barname_nevisi/python/pybootcamp/mian_term/files/final.xlsx')
        return df 
    
def winner_chooser():
    df= pd.read_excel(r'E:/barname_nevisi/python/pybootcamp/mian_term/files/final.xlsx',index_col=0)
    import random
    w=tuple(df.Score)
    Usernames = list(df.Username)
    winner=random.choices(Usernames, weights=w,cum_weights=None, k=1)[0]
    return (winner)

In [33]:
excel_creator(['comment', 'follow'])
winner_chooser()

                    Username  Score
0           __baran__gallery      2
1     __digital_marketingl__      2
2            beauty.ahwaz.68      2
3            dastband_aseman      1
4        instamarketing_team      1
...                      ...    ...
8571              assal_mprt      1
8572              sarvin_133      1
8573          playstationiir      1
8574             sajadmari73      1
8575            mahan_mahiii      1

[8576 rows x 2 columns]

In [24]:
df= pd.read_excel(r'E:/barname_nevisi/python/pybootcamp/mian_term/files/final.xlsx',index_col=0)
import random
w=tuple(df.Score)
Usernames = list(df.Username)
winner=random.choices(Usernames, weights=w,cum_weights=None, k=1)[0]
print(winner)

beauty.ahwaz.68